.item-img {
  max-width: 100%;
  height: auto;
}

.item-description {
  font-size: 1.1em;
  margin: 10px 0;
}

#alert-dialog-title{
  font-size: 1.5em;
  font-weight: bold;
}

.item-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #00796B;
}

.radio-group-options{
  margin: 20px 0;
}

.radio-group-label {
  font-weight: bold;
  font-size: 1.1em;
}

.radio-button {
  margin-top: 5px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}
 
.user-preferences {
  margin-top: 20px; /* Adjust the margin to your preference */
  font-size: 1.1em;
  font-weight: bold;
}

.user-preferences-textarea {
  margin-top: 16px;
  width: 100%; /* Set width to 100% to make it expand to the full width */
  resize: none; /* Disable resizing */ 
  font-size: 1.1em;
}

.add-to-cart-btn {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.add-to-cart-btn:disabled {
  background-color: #ccc; /* Disabled button color */
  cursor: not-allowed;
}

.add-to-cart-btn:hover {
  background-color: #ffcc33;
}

.cancel-btn {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s;
}
    
