.item-img {
  max-width: 100%;
  height: auto;
}

.item-description {
  font-size: 16px;
  margin: 10px 0;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
  color: #00796B;
}

.radio-group-label {
  font-weight: bold;
}

.radio-button {
  margin-top: 5px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.decrementdisabled{
  cursor: not-allowed;
}